<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dheeraj.android.ecilproject">

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/c"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home Screen" />
        <activity
            android:name=".DeveloperRegistration"
            android:label="Developer Registration Portal" />
        <activity
            android:name=".ManagerRegistration"
            android:label="Manager Registration Portal" />
        <activity
            android:name=".TesterRegistration"
            android:label="Tester Registration Portal" />
        <activity
            android:name=".Login"
            android:label="Login Portal" />
        <activity
            android:name=".Adminpage"
            android:label="Admin Portal" />
        <activity
            android:name=".ManagerPage"
            android:label="Manager Portal" />
        <activity
            android:name=".DeveloperPage"
            android:label="Developer Portal" />
        <activity
            android:name=".TesterPage"
            android:label="Tester Portal" />
        <activity
            android:name=".ManagerSettings"
            android:label="MANAGER SETTINGS" />
        <activity
            android:name=".DeveloperSettings"
            android:label="Developer Settings" />
        <activity
            android:name=".TesterSettings"
            android:label="Tester Settings" />
        <activity
            android:name=".AssignBugs"
            android:label="ADD BUGS" />
        <activity
            android:name=".AddReports"
            android:label="ADD REPOETS" />
        <activity
            android:name=".SendReport"
            android:label="Send Report" />
        <activity android:name=".AddBug"
            android:label="ADD BUG"
            ></activity>
    </application>

</manifest>